.demand-charts{
    &__charts{
        width: 100%;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        &__line{
            width: 60%;
            height: 60vh;
        }
        &__pie{
            width: 30%;
            height: 60vh;
        }
    }
}