td {
  font-size: 16px;
  &.status {
    .icon {
      &.close {
        color: #f00;
      }
      &.check {
        color: #008800;
      }
    }
  }
}

tr {
  &.no-active {
    background-color: #ffcccc !important;
  }
}
