@import "../colors.scss";

td {
  font-size: 16px;
  &.status {
    .icon {
      &.close {
        color: #f00;
      }
      &.check {
        color: #008800;
      }
    }
  }
}

tr {
  &.no-active {
    background-color: #ffcccc !important;
  }
}

thead {
  tr {
    th {
      border: 2px solid $dark-light;
      background-color: $dark !important;
      color: $white !important;
    }
  }
}

tbody {
  tr {
    td {
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}
