@import "../../../scss/colors.scss";

.side-menu-admin {
  &__logo {
    padding: 0 !important;

    img {
      width: 250px !important;
    }
  }
  .ui.vertical.left.menu {
    background-color: $dark !important;
    width: 250px !important;
    overflow: hidden;
    z-index: 99 !important;

    .item {
      color: $white !important;

      &:hover {
        background-color: $dark-medium;
      }
      &.active {
        background-color: $dark-light !important;
      }
    }

    i.icon {
      float: initial !important;
      color: $white !important;
      margin: 0 !important;
      margin-right: 10px !important;
    }
  }

  .content {
    padding: 30px;
    width: calc(100% - 250px);
    margin-right: -260px;
    margin-left: 250px;
    overflow: hidden;
  }
}
