.table-users-admin {
  td {
    &.status {
      .icon {
        &.close {
          color: #f00;
        }
        &.check {
          color: #008800;
        }
      }
    }
  }
}
.pagination-users-admin {
  width: 100%;
  display: flex;
  justify-content: center;
}
